<div id="single-product-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="created-by">Created by <%= @product.user.name %></div>
      <h3><%= @product.name %></h3>
      <p><%= @product.description %></p>
    </div>
  </div><!-- row -->
</div>